<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <title>Node JS Server</title>
    </head>
    <body>
        <div id="itemContainer" class="container">
            <div class="row">
                <div class="col s12">

                </div>
            </div>
            <div class="row">
                <div class="col s12">

                </div>
            </div>
            <div class="row">
                <div class="col s12">

                </div>
            </div>
            <div class="row">
                <div class="col s12">

                </div>
            </div>
            <div class="row">
                <div class="col s12">

                </div>
            </div>
            <div class="row">
                <div class="col s12">

                </div>
            </div>
            <div class="row">
                <div class="col s12">

                </div>
            </div>
            <div class="row">
                <div class="col s12">

                </div>
            </div>
            <div class="row">
                <div class="col s4">

                </div>
                <div class="col s4">
                    <div class="card z-depth-2">
                        <div class="card-image">
                        </div>
                        <div class="card-content blue lighten-4">
                            <p>Hello! I'm a server! I'm working now</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>